
.home-box{
    background-color: var(--color-bg);
}

.home-box-container{
   display: grid;
   grid-template-columns: 1fr 35rem;
   align-items: center;
   justify-self: center;
   width: 90%;
   margin: 0 auto;
   height: 100vh;
   background-color: var(--color-bg);
}

.home-box-content{
    justify-self: start;
    margin-left: 20px;
    color: var(--color-tertiary);
    width: 80%;
}


.home-heading{
    display: flex;
    justify-content: flex-start;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--color-tertiary);
}

.home-title{
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
}

.home-para{
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
    color: var(--color-dark-bg);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 300;
}

.home-title-heading{
    padding: 5px 0 18px 0;
    font-weight: 500;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}



.highlighted-para{
    color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}



.home-box-img{
    text-align: center;
    height: 60%;
    width: 20%;
}

.home-box-img img{
    height: 24rem;
    width: 38rem;
}

#home-img:hover{
  transform: scale(1.08);
  transition: 1s ease-in-out;
  cursor: pointer;
}


/**************MEDIA QUERY*********************/
@media screen and (max-width: 768px), screen and (max-height: 960){
    .home-box-container{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--color-bg);
        align-items: center;
        justify-self: center;
        height: 130vh;
        margin: 0 auto;
        width: 90%;
    }

    .home-box-content{
        color: var(--color-tertiary);
        justify-self: center;
        margin: 0;
        width: 80%;
    }

    .home-heading{
        font-size: 2.5rem;
    }
    .home-title-heading{
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
    
    .home-para{
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .home-box-img{
        height: 140%;
        width: 20%;
    }
    
    .home-box-img img{
        display: flex;
        justify-content: center;
        height: 23rem;
        width: 34rem;

    }

  
}


@media screen and (max-width: 500px){
    .home-box-container{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--color-bg);
        align-items: center;
        justify-self: center;
        height: 70vh;
        margin: 0 auto;
        width: 100%;
        padding: 0 8px 0 8px;
    }

    .home-box-content{
        color: var(--color-tertiary);
        justify-self: center;
        margin: 0;
        width: 100%;
        padding-top: 8rem;
    }

    .home-heading{
        font-size: 2.3rem;
    }
    .home-title-heading{
        font-size: 1.8rem;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
    
    .home-para{
        font-size: 1rem;
        margin-top: 1rem;
    }

    .home-box-img{
        height: 150%;
        width: 20%;
    }
    
    .home-box-img img{
        display: flex;
        justify-content: center;
        padding: 90px 0 0 35px;
        height: 20rem;
        width: 28rem;

    }
}




@media screen and (max-width: 450px){
    .home-box-container{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--color-bg);
        align-items: center;
        justify-self: center;
        height: 70vh;
        margin: 0 auto;
        width: 100%;
        padding: 0 8px 0 8px;
    }

    .home-box-content{
        color: var(--color-tertiary);
        justify-self: center;
        margin: 0;
        width: 100%;
        padding-top: 8rem;
    }

    .home-heading{
        font-size: 2.3rem;
    }
    .home-title-heading{
        font-size: 1.8rem;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
    
    .home-para{
        font-size: 1rem;
        margin-top: 1rem;
    }

    .home-box-img{
        height: 150%;
        width: 20%;
    }
    
    .home-box-img img{
        display: flex;
        justify-content: center;
        padding: 80px 10px 0 0;
        height: 18rem;
        width: 26rem;

    }   
}



@media screen and (max-width: 400px){
    .home-box-container{
        display: grid;
        grid-template-columns: auto;
        background-color: var(--color-bg);
        align-items: center;
        justify-self: center;
        height: 70vh;
        margin: 0 auto;
        width: 100%;
        padding: 0 8px 0 8px;
    }

    .home-box-content{
        color: var(--color-tertiary);
        justify-self: center;
        margin: 0;
        width: 100%;
        padding-top: 8rem;
    }

    .home-heading{
        font-size: 2.3rem;
    }
    .home-title-heading{
        font-size: 1.8rem;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
    
    .home-para{
        font-size: 1rem;
        margin-top: 1rem;
        margin-right: .5rem;
        
    }

    .home-box-img{
        height: 150%;
        width: 20%;
    }
    
    .home-box-img img{
        display: flex;
        justify-content: center;
        padding: 80px 10px 0 0;
        height: 18rem;
        width: 26rem;
    }
}



@media screen and (max-width: 390px){
    .home-para{
        font-size: 1rem;
        margin-top: 1rem;
        padding-right: 2rem;
    }
    .home-box{
        height: 80vh;
    }

    .home-box-img img{
        display: flex;
        justify-content: center;
        padding: 80px 10px 0 0;
        height: 16rem;
        width: 24rem;
    }
}

/*Mobile Device*/
@media screen and (min-width: 320px)
and (max-width: 480px){
    .home-box{
      height: 80vh;
    }
   .home-title-heading{
     font-size: 25px;
   }
   .home-para{
     font-size: 15px;
     padding: 0 2px 0 5px;
   }
   .home-box-img img{
    display: none;
   }
}

/* 
@media screen and (min-width: 1281px) {
    .home-heading{
        font-size: 4.5rem;
    }
    .home-title-heading{
        font-size: 2.5rem;
    }
    .home-para{
        font-size: 1.5rem;
        line-height: 2.1rem;
    }
    .home-box-img img{
        padding: 2rem 8rem 0 0;
        height: 30rem;
        width: 48rem;
    }
} */
