

.test{
    padding: 1rem;
    width: 100%;
    height: 90vh;
    background-color: var(--color-tertiary);
}

.test .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1240px;
    margin: auto;
}

.test .test-box{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.test-title{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary);
    padding: 8rem 0 2rem 0;
}

.test-heading{
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    color: var(--color-bg);
    padding-bottom: 10px;
}

.test-para{
    font-size: 18px;
    font-weight: 300;
    color: var(--color-bg);
    padding: 2rem 0 1rem 0;
}


.img-box{
    display: flex;
    justify-content: center;
    padding: 24px 0 0 0;
}

.test-img{
    padding-top: 10px;
    width: 80vh;
    height: 80vh;
}

.test-img:hover{
    transform: scale(1.08);
    transition: all 1s ease-in-out;
    cursor: pointer;
}



/**************MEDIA QUERY*********************/
@media screen and (max-width: 940px){
    .test .container{
       max-width: 100%;
       height: 90vh;
       grid-template-columns: 1fr;
       grid-gap: 2px;
    }
    .test-img{
        width: 25rem;
        height: 25rem;
    }

}

@media screen and (max-width: 500px){
    .test{
        padding: 0.5rem;
        height: 100vh;
    }
    .test-title{
        font-size: 32px;
        line-height: 36px;
    }

    .test-box{
        padding-top: 5px;
    }

    .test-heading{
        font-size: 28px;
    }
    .test-img{
        width: 22rem;
        height: 22rem;
    }
}

@media screen and (max-width: 430px){
    .test-title{
        font-size: 30px;
    }

    .test-heading{
        font-size: 25px;
    }

    .test-img{
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 400px){
    .test{
        width: 100%;
    }
    .test-title{
        font-size: 26px;
    }

    .test-heading{
        font-size: 25px;
    }

    .test-img{
        width: 20rem;
        height: 20rem;
    }
}


@media screen and (max-width: 390px){
     .test{
        height: 120vh;
     }
     .test .test-box{
        display: absolute;
        padding-top: 1px;
    }
    
    .test-para{
        font-size: 15px;
    }
}